section.blog-posts {
  .blog-post {
    .card {
      background: black;
      .card-img-top {
        max-height: 200px;
      }

      .card-body {
        .card-title, .card-text {
          text-decoration: none;
        }

        .card-title {
          font-weight: bold;
          color: $orange-color;
          font-size: clamp(1.1rem, calc(4vw + .1rem), 1.8rem);
        }

        .card-text {
          font-size: clamp(0.8rem, calc(3vw + .1rem) , 1.1rem);
          color: white;
        }
      }

      .card-footer {
        border: none;
        small.text-muted {
          font-size: clamp(0.5rem, calc(3vw + .1rem) , 0.9rem);
          font-weight: bold;
        }
      }
    }
  }

  button.btn-load-more {
    background: $orange-color;
    padding: 10px 15px;

    &:hover {
      transform: scale(1.1);
    }
  }
}
.blog-post {
  &__title {
    color: $orange-color;
  }
  &__section {
    &-content {
      text-align: left;
      color: white;

      h1 {
        font-size: clamp(1.8rem, calc(4vw + .8rem), 3rem);
      }

      h2 {
        font-size: clamp(1.4rem, calc(4vw + .5rem), 2.2rem);
      }

      h3 {
        font-size: clamp(1.1rem, calc(4vw + .1rem), 1.8rem);
      }

      p, li {
        font-size: clamp(0.8rem, calc(3vw + .1rem) , 1.1rem);
      }

      span.code-in-desc {
        background: black;
        color: $orange-color;
        padding: 0 3px;
      }

      &-intro {
        ul {
          text-align: left;

          li {
            line-height: 2;
            color: $gray-color;
          }
        }
      }

      p {
        line-height: 1.8;
      }
    }

    &-nav {
      margin-top: 1rem;
      ul {
        padding: 1rem;
        top: 0;
        left: 0;
        position: sticky;


        li {
          a {
            color: $orange-color;
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }

        }
      }
    }
  }
}
