.blog-posts {

  h2.title {
    &:after {
      display: block;
      content: '';
      border-bottom: solid 3px $light-blue-color;
      transform: scaleX(0);
      transition: transform 250ms ease-in-out;
      margin-top: 10px;
    }
 }

  &:hover {
    h2.title:after {
      transform: scaleX(1);
    }
  }

  .container {
    .row {
      .card.post {
        perspective: 1000px;
        min-height: 320px;

        .card-body {
          transition: transform 0.8s;
          transform-style: preserve-3d;

          .card-front, .card-back {
            -webkit-backface-visibility: hidden; /* Safari */
            backface-visibility: hidden;

            .card-title {
              font-size: 1.5rem;
            }
          }

          /* Style the back side */
          .card-back {
            transform: rotateY(180deg);
          }

          img.card-img-top {
            max-height: 200px;
          }
        }

        &:hover .card-body {
          transform: rotateY(180deg);
        }
      }
    }
  }
}

.blog-post {
  &__title {
    color: $orange-color;
  }
  &__section {
    &-content {
      text-align: left;
      color: white;

      h1 {
        font-size: clamp(1.8rem, calc(4vw + .8rem), 3rem);
      }

      h2 {
        font-size: clamp(1.4rem, calc(4vw + .5rem), 2.2rem);
      }

      h3 {
        font-size: clamp(1.1rem, calc(4vw + .1rem), 1.8rem);
      }

      p, li {
        font-size: clamp(0.8rem, calc(3vw + .1rem) , 1.1rem);
      }

      span.code-in-desc {
        background: black;
        color: $orange-color;
        padding: 0 3px;
      }

      &-intro {
        ul {
          text-align: left;

          li {
            line-height: 2;
            color: $gray-color;
          }
        }
      }

      p {
        line-height: 1.8;
      }
    }

    &-nav {
      margin-top: 1rem;
      ul {
        padding: 1rem;
        top: 0;
        left: 0;
        position: sticky;


        li {
          a {
            color: $orange-color;
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }

        }
      }
    }
  }
}
