.blog-posts {

  h2.title {
    &:after {
      display: block;
      content: '';
      border-bottom: solid 3px #019fb6;
      transform: scaleX(0);
      transition: transform 250ms ease-in-out;
      margin-top: 10px;
    }
 }

  &:hover {
    h2.title:after {
      transform: scaleX(1);
    }
  }

  .container {
    .row {
      .card.post {
        perspective: 1000px;
        min-height: 320px;

        .card-body {
          transition: transform 0.8s;
          transform-style: preserve-3d;

          .card-front, .card-back {
            -webkit-backface-visibility: hidden; /* Safari */
            backface-visibility: hidden;

            .card-title {
              font-size: 1.5rem;
            }
          }

          /* Style the back side */
          .card-back {
            transform: rotateY(180deg);
          }

          img.card-img-top {
            max-height: 200px;
          }
        }

        &:hover .card-body {
          transform: rotateY(180deg);
        }
      }
    }
  }
}
